{{!--
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="/assets/css/style.css"> --}}



<div class="page-wrapper">
    <main class="main">
        <div class="page-header text-center" style="height:20px;background-image: url('/assets/images/page-header-bg.jpg')">
		<div class="container">
			<h2 class="page-title">Product Details</h2>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/product-details">shop</a></li>
                    <li class="breadcrumb-item active"><a>product</a></li>
                </ol>


            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">


                    <div class="card" style="margin-top: 20px;">
                        <!-- card left -->

                        <div class="product-imgs">
                            <div class="img-display">
                                <div class="img-showcase" style="height: 500px;width: 400px;">

                                    <img src="/product-image/{{allProductsUser._id}}1.jpg" alt="bag image" class="zoom">
                                    <img src="/product-image/{{allProductsUser._id}}2.jpg" alt="bag image" class="zoom">
                                    <img src="/product-image/{{allProductsUser._id}}3.jpg" alt="bag image" class="zoom">
                                    <img src="/product-image/{{allProductsUser._id}}4.jpg" alt="bag image" class="zoom">
                                </div>
                            </div>
                            <div class="img-select">
                                <div class="img-item">
                                    <a href="#" data-id="1">
                                        <img src="/product-image/{{allProductsUser._id}}1.jpg" alt="shoe image">
                                    </a>
                                </div>
                                <div class="img-item">
                                    <a href="#" data-id="2">
                                        <img src="/product-image/{{allProductsUser._id}}2.jpg" alt="shoe image">
                                    </a>
                                </div>
                                <div class="img-item">
                                    <a href="#" data-id="3">
                                        <img src="/product-image/{{allProductsUser._id}}3.jpg" alt="shoe image">
                                    </a>
                                </div>
                                <div class="img-item">
                                    <a href="#" data-id="4">
                                        <img src="/product-image/{{allProductsUser._id}}4.jpg" alt="shoe image">
                                    </a>
                                </div>
                            </div>
                        </div>



                        <!-- card right -->
                        <div class="product-content">
                            <h2 class="product-title1">{{allProductsUser.name}}</h2>

                            <strong class="text-danger">{{allProductsUser.stock}} stocks left</strong>
                            {{!-- <a href="#" class="product-link">e-shopy</a> --}}
                            <div class="product-rating">
                                {{!-- <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i> --}}
                                <p>Author : <strong>{{allProductsUser.author}}</strong></p>
                                

                            <div class="product-price1">
                                <p class="new-price1">Price: <span><i
                                            class="fa fa-light fa-indian-rupee-sign"></i>{{allProductsUser.price}}&nbsp;{{#if
                                        allProductsUser.actualPrice}} <del><i
                                                class="fa fa-light fa-indian-rupee-sign"></i>
                                            {{allProductsUser.actualPrice}}</del></span>
                                    {{/if}}</span></p>
                                {{#if allProductsUser.proOfferPercentage}}<p
                                    class="product-price text-success mt-1 ms-3 border border-success rounded"
                                    style="width: 8rem;">{{#if
                                    allProductsUser.proOfferPercentage}}&nbsp;&nbsp;{{allProductsUser.proOfferPercentage}}<small>%off</small>
                                    {{/if}}{{#if allProductsUser.catOfferPercentage
                                    }}{{allProductsUser.catOfferPercentage}}<small>%off</small>{{/if}}</p>{{/if}}
                            </div>

                            <div class="product-detail">
                                {{!-- <h2>about this item: </h2> --}}
                                <p>{{allProductsUser.description}}</p>
                                <ul>
                                    {{!-- <li>Color: <span>Black</span></li> --}}
                                    {{!-- <li>Available: <span>in stock</span></li> --}}
                                    <li class="text-dark">Category: <strong>{{allProductsUser.category}}</strong></li>
                                    {{!-- <li>Shipping Area: <span>All over the world</span></li> --}}
                                    {{!-- <li>Shipping Fee: <span>Free</span></li> --}}
                                </ul>
                            </div>

                            <div class="purchase-info">
                                {{!-- <input type="number" min="0" value="1" class="form-control"> --}}
                                {{#if nostock}}
                                <button type="button" onclick="outOfStock()" class="btn btn-danger mt-3 cart">Out of stock</button>
                                
                    {{else}}
                    {{#if user}}
                    <div class="col-6 col-lg-4 col-xl-2">
		                	<div class="btn-wrap">
                                <button type="button" class="btn btn-primary btn-round"
                                    onclick="addToCart('{{allProductsUser._id}}')"><i
                                        class="fa fa-light fa-cart-shopping"></i>Add to
                                    Cart
                                </button>
		                	</div><!-- End .btn-wrap -->

		                </div><!-- End .col-md-4 col-lg-2 -->            
                    <div class="details-action-wrapper ms-0 pt-2">
                    <div class="col-6 col-lg-4 col-xl-2">
		                	<div class="btn-wrap">


                                <a onclick="addToWishlist('{{allProductsUser._id}}')" class="btn btn-primary btn-round">Add to whishlist</a> 
                    </div></div>
                    </div>
		                		
                    {{else}}
                    <a href="/login" class="btn-product btn-cart"><i
                                        class="fa fa-light fa-cart-shopping"></i>Add to
                                    Cart
                                </a>
                    {{/if}}
                    {{/if}}
		                	


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }

    body {
        line-height: 1.5;
    }

    .card-wrapper {
        max-width: 700px;
        max-height: 600px;
        margin: 0 auto;
    }

    img {
        width: 100%;
        display: block;
    }

    .img-display {
        overflow: hidden;
    }

    .img-showcase {
        display: flex;
        width: 100%;
        transition: all 0.5s ease;
    }

    .img-showcase img {
        min-width: 100%;
    }


    .img-select {
        display: flex;
    }

    .img-item {
        margin: 0.3rem;
    }

    .img-item:nth-child(1),
    .img-item:nth-child(2),
    .img-item:nth-child(3) {
        margin-right: 0;
    }

    .img-item:hover {
        opacity: 0.8;
    }

    .product-content {
        padding: 2rem 1rem;
    }

    .product-title1 {
        font-size: 4rem;
        text-transform: capitalize;
        font-weight: 600;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
    }



    .product-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        background: #256eff;
        color: #fff;
        padding: 0 0.3rem;
        transition: all 0.5s ease;
    }

    .product-link:hover {
        opacity: 0.9;
    }

    .product-rating {
        color: #ffc107;
    }

    .product-rating span {
        font-weight: 600;
        color: #252525;
    }

    .product-price1 p {
        margin: 1rem 0;
        font-size: 2rem;
        font-weight: 400;
    }

    .product-price span {
        font-weight: 400;
    }

    .new-price1 span {
        color: #000000;
    }

    .product-detail h2 {
        text-transform: capitalize;
        color: #12263a;
        padding-bottom: 0.6rem;
    }

    .product-detail p {
        font-size: 1.5rem;
        padding: 0.3rem;
        opacity: 0.8;
    }

    .product-detail ul {
        margin: 1rem 0;
        font-size: 1.5rem;
    }

    .product-detail ul li {
        margin: 0;
        list-style: none;
        background: url(shoes_images/checked.png) left center no-repeat;
        background-size: 18px;

        margin: 0.4rem 0;
        font-weight: 600;
        opacity: 0.9;
    }

    .product-detail ul li span {
        font-weight: 500;
    }

    .purchase-info {
        margin: 1.5rem 0;
    }

    {{!-- .purchase-info input,
    .purchase-info .btn {
        border: 2.5px solid #ddd;
        border-radius: 10px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
        height: 50px;
        width: 250px;
    } --}}

    .purchase-info input {
        width: 10px;
    }

    .purchase-info .btn {
        cursor: pointer;
        color: #fff;
    }

    .cart {
        background: #256eff;
    }

    .wish {
        background: #224f00;
    }

    .buy {
        background: #f64749;
    }

    .purchase-info .btn:hover {
        opacity: 0.9;
        color: #000;
    }

    .social-links {
        display: flex;
        align-items: center;
    }

    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #000;
        border: 1px solid #000;
        margin: 0 0.2rem;
        border-radius: 50%;
        text-decoration: none;
        font-size: 0.8rem;
        transition: all 0.5s ease;
    }

    .social-links a:hover {
        background: #000;
        border-color: transparent;
        color: #fff;
    }

    @media screen and (min-width: 992px) {
        .card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
        }

        .card-wrapper {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-imgs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 1;
        }

        .product-content {
            padding-top: 0;
        }
    }
</style>


<script>
    const imgs = document.querySelectorAll('.img-select a');
    const imgBtns = [...imgs];
    let imgId = 1;

    imgBtns.forEach((imgItem) => {
        imgItem.addEventListener('mouseover', (event) => {
            event.preventDefault();
            imgId = imgItem.dataset.id;
            slideImage();
        });
    });

    function slideImage() {
        const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

        document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
    }

    window.addEventListener('resize', slideImage);
    var options = {
        width: 400,
        height: 400,
        zoomwidth: 500,
        offset: { vertical: 0, horizontal: 10 },
        scale: 1.5
    }
    new ImageZoom(document.getElementById('img-container'), options)



</script>
<script src="/zoomsl.min.js"></script>
<script>
    $(document).ready(function () {
        $('.zoom').imagezoomsl({
            zoomrange: [3, 3]
        });
    })
</script>

<script>
    function outOfStock(){
        swal.fire({
            title:'Oops',
            icon:"warning",
            text:"Product is out of stock"
        })
    }
</script>

